<style>
    :root {
        --article-font-family: 'Monaco', sans-serif, var(--base-font-family);
        --zh-font-family: 'LXGW WenKai Screen', sans-serif, var(--base-font-family);
        --code-font-family: 'Monaco', sans-serif;
    }
</style>

<script>
    (function () {
        const chineseFont = document.createElement('link');
        chineseFont.href = 'https://cdn.staticfile.org/lxgw-wenkai-screen-webfont/1.6.0/lxgwwenkaiscreen.css';
        chineseFont.rel = 'stylesheet';
        chineseFont.type = 'text/css';
        const codeFont = document.createElement('link');
        codeFont.href = 'https://fonts.cdnfonts.com/css/monaco';
        codeFont.rel = 'stylesheet';
        codeFont.type = 'text/css';
        document.head.appendChild(chineseFont);
        document.head.appendChild(codeFont);
    }());

</script>