{{ if eq .Site.Params.syntaxHighlighter "highlight.js" }}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.9.0/styles/monokai.min.css">
<script src="https://npm.elemecdn.com/@highlightjs/cdn-assets@11.7.0/highlight.min.js"></script>
<!-- <link href="https://cdn.bootcdn.net/ajax/libs/highlight.js/11.8.0/styles/monokai.min.css" rel="stylesheet">
<script src="https://cdn.bootcdn.net/ajax/libs/highlight.js/11.8.0/es/highlight.min.js"></script>
<script src="https://cdn.bootcdn.net/ajax/libs/highlight.js/11.8.0/es/core.min.js"></script> -->
<!-- and it's easy to individually load additional languages -->

<script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.9.0/languages/dockerfile.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.9.0/languages/yaml.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.9.0/languages/vim.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.9.0/languages/bash.min.js"></script>
<!-- <script src="https://cdn.bootcdn.net/ajax/libs/highlight.js/11.8.0/es/languages/dockerfile.min.js"></script>
<script src="https://cdn.bootcdn.net/ajax/libs/highlight.js/11.8.0/languages/yaml.min.js"></script>
<script src="https://cdn.bootcdn.net/ajax/libs/highlight.js/11.8.0/languages/vim.min.js"></script>
<script src="https://cdn.bootcdn.net/ajax/libs/highlight.js/11.8.0/es/languages/bash.min.js"></script>
<script src="https://cdn.bootcdn.net/ajax/libs/highlight.js/11.8.0/languages/haskell.min.js"></script> -->

<script>hljs.initHighlightingOnLoad();</script>

<script>
    document.addEventListener('DOMContentLoaded', (event) => {
        document.querySelectorAll('pre code').forEach((el) => {
            hljs.highlightElement(el);
        });
    });
</script>
{{ end }}

<style>
    :root {
        --article-font-family: 'Monaco', sans-serif, var(--base-font-family);
        --zh-font-family: 'LXGW WenKai Screen', sans-serif, var(--base-font-family);
        --code-font-family: 'Monaco', sans-serif;
    }
</style>

<script>
    (function () {
        const chineseFont = document.createElement('link');
        chineseFont.href = 'https://cdn.staticfile.org/lxgw-wenkai-screen-webfont/1.6.0/lxgwwenkaiscreen.css';
        chineseFont.rel = 'stylesheet';
        chineseFont.type = 'text/css';
        const codeFont = document.createElement('link');
        codeFont.href = 'https://fonts.cdnfonts.com/css/monaco';
        codeFont.rel = 'stylesheet';
        codeFont.type = 'text/css';
        document.head.appendChild(chineseFont);
        document.head.appendChild(codeFont);
    }());

</script>

<link href="/imgzoom/zoom.css" rel="stylesheet">