//  ~\blog\assets\scss\custom.scss

//------------------------------------------------
//将滚动条修改为圆角样式
//菜单滚动条美化
.menu::-webkit-scrollbar {
    display: none;
}

html {
    ::-webkit-scrollbar {
        width: 20px;
    }

    ::-webkit-scrollbar-track {
        background-color: transparent;
    }

    ::-webkit-scrollbar-thumb {
        background-color: #d6dee1;
        border-radius: 20px;
        border: 6px solid transparent;
        background-clip: content-box;
    }

    ::-webkit-scrollbar-thumb:hover {
        background-color: #a8bbbf;
    }
}

// --------------------------------
// 菜单栏样式
// 下拉菜单改圆角样式
.menu {
    padding-left: 0;
    list-style: none;
    flex-direction: column;
    overflow-x: hidden;
    overflow-y: scroll;
    flex-grow: 1;
    font-size: 1.6rem;
    background-color: var(--card-background);

    box-shadow: var(--shadow-l2); //改个阴影
    display: none;
    margin: 0; //改为0
    border-radius: 10px; //加个圆角
    padding: 30px 30px;

    @include respond(xl) {
        padding: 15px 0;
    }

    &,
    .menu-bottom-section {
        gap: 30px;

        @include respond(xl) {
            gap: 25px;
        }
    }

    &.show {
        display: flex;
    }

    @include respond(md) {
        align-items: flex-end;
        display: flex;
        background-color: transparent;
        padding: 0;
        box-shadow: none;
        margin: 0;
    }

    li {
        position: relative;
        vertical-align: middle;
        padding: 0;

        @include respond(md) {
            width: 100%;
        }

        svg {
            stroke-width: 1.33;

            width: 20px;
            height: 20px;
        }

        a {
            height: 100%;
            display: inline-flex;
            align-items: center;
            color: var(--body-text-color);
            gap: var(--menu-icon-separation);
        }

        span {
            flex: 1;
        }

        &.current {
            a {
                color: var(--accent-color);
                font-weight: bold;
            }
        }
    }
}

.widget--toc {
    #TableOfContents {
        max-height: 65vh;

        ol,
        ul {
            list-style-type: none;
        }

        li {
            margin: 10px 10px;

            &>ol,
            &>ul {
                margin-top: 10px;
                padding-left: 10px;
                margin-bottom: -5px;

                &>li:last-child {
                    margin-bottom: 0;
                }
            }
        }
    }
}

// 页面基本配色
:root {
    --body-background: #f5f5f5;
    // 全局顶部边距
    --main-top-padding: 30px;
    // 全局卡片圆角
    --card-border-radius: 25px;
    // 标签云卡片圆角
    --tag-border-radius: 8px;
    // 卡片间距
    --section-separation: 40px;
    // 全局字体大小
    --article-font-size: 1.8rem;
    // 行内代码背景色
    --code-background-color: #f8f8f8;
    // 行内代码前景色
    --code-text-color: #e96900;

    // 暗色模式下样式
    &[data-scheme="dark"] {
        // 行内代码背景色
        --code-background-color: #ff6d1b17;
        // 行内代码前景色
        --code-text-color: #e96900;
        // 暗黑模式下背景色
        --body-background: #000;
        // 暗黑模式下卡片背景色
        --card-background: hsl(225 13% 8% / 1);
    }
}

//------------------------------------------------------
// 修复引用块内容窄页面显示问题
a {
    word-break: break-all;
}

pre code.hljs {
    display: block;
    overflow-x: auto;
    padding: 0 !important;
}

.article-content {
    .highlight:before {
        content: '';
        display: block;
        background: url(/code-header.svg);
        height: 32px;
        width: 100%;
        background-size: 57px;
        background-repeat: no-repeat;
        margin-bottom: 5px;
        background-position: -1px 2px;
    }
}

//代码复制按钮
.article-content .copyCodeButton {
    position: absolute;
    top: 10px;
    right: 18px;
    border-radius: 12px;
    opacity: 1;
    color: #ffffffad;
    background: none;
    border: none;
    padding: 0;
    font-weight: 500;
}

.article-content .languageCodeButton {
    position: absolute;
    border: none;
    top: 9px;
    right: 69px;
    border-radius: 12px;
    opacity: 1;
    padding: 0 5px;
    background: 0;
    color: #ffffffad;
    font-family: lato;
    font-size: 1.5rem;
}

// 代码块样式修改
.highlight {
    max-width: 102% !important;
    padding: var(--card-padding);
    position: relative;
    background-color: #282c34;
    border-radius: 20px;
    margin-left: -7px !important;
    margin-right: -12px;
    box-shadow: var(--shadow-l1) !important;

    &:hover {
        .copyCodeButton {
            opacity: 1;
        }
    }

    // keep Codeblocks LTR
    [dir="rtl"] & {
        direction: ltr;
    }

}

// [data-scheme="light"] .article-content .highlight {
//     background-color: #282c34;
// }

// [data-scheme="dark"] .article-content .highlight {
//     background-color: #282c34;
// }

// [data-scheme="dark"] .chroma {
//     background-color: #282c34;
// }

//--------------------------------------------------
// 文章内容图片圆角阴影
.article-page .main-article .article-content {
    img {
        max-width: 96% !important;
        height: auto !important;
        border-radius: 8px;
    }
}

//------------------------------------------------
// 文章内容引用块样式
.article-content {
    blockquote {
        border-left: 6px solid #358b9a1f !important;
        background: #3a97431f;
    }
}

//-------------------------------------------
// 设置选中字体的区域背景颜色
//修改选中颜色
::selection {
    color: #fff;
    background: #34495e;
}

a {
    text-decoration: none;
    color: var(--accent-color);

    &:hover {
        color: var(--accent-color-darker);
    }

    &.link {
        color: #4288b9ad;
        font-weight: 600;
        padding: 0 2px;
        text-decoration: none;
        cursor: pointer;

        &:hover {
            text-decoration: underline;
        }
    }
}

//---------------------------------------------------
// 全局页面布局间距调整
.main-container {
    min-height: 100vh;
    align-items: flex-start;
    padding: 0 0px;
    gap: var(--section-separation);
    padding-top: var(--main-top-padding);

    @include respond(md) {
        padding: 0 0px;
    }
}

//--------------------------------------------------
//页面三栏宽度调整
.container {
    margin-left: auto;
    margin-right: auto;

    .left-sidebar {
        order: -3;
        max-width: var(--left-sidebar-max-width);
    }

    .right-sidebar {
        order: -1;
        max-width: var(--right-sidebar-max-width);

        /// Display right sidebar when min-width: lg
        @include respond(lg) {
            display: flex;
        }
    }

    &.extended {
        @include respond(md) {
            max-width: 1024px;
            --left-sidebar-max-width: 25%;
            --right-sidebar-max-width: 22% !important;
        }

        @include respond(lg) {
            max-width: 1280px;
            --left-sidebar-max-width: 20%;
            --right-sidebar-max-width: 30%;
        }

        @include respond(xl) {
            max-width: 1453px; //1536px;
            --left-sidebar-max-width: 15%;
            --right-sidebar-max-width: 25%;
        }
    }

    &.compact {
        @include respond(md) {
            --left-sidebar-max-width: 25%;
            max-width: 768px;
        }

        @include respond(lg) {
            max-width: 1024px;
            --left-sidebar-max-width: 20%;
        }

        @include respond(xl) {
            max-width: 1280px;
        }
    }
}

//--------------------------------------------------
// 修改首页搜索框样式
.search-form.widget input {
    font-size: 1.5rem;
    padding: 44px 25px 19px;
}

.section-card {
    .section-image {
        img {
            width: 100px;
            height: 100px;
            border-radius: 3%;
        }
    }
}