// place your custom styles here

.site-name {
    font-style: italic;
}

.vp-blog-hero-title {
    color: #fbfbfb;
}

@font-face {
    font-family: 'Monaco';
    src: url(../public/assets/fonts/Monaco.woff);
}

.vp-category {
    font-family: 'Monaco';
}