// place your custom styles here

.site-name {
    font-style: italic;
}

.vp-blog-hero-title {
    color: #fbfbfb;
}

@font-face {
    font-family: Monaco;
    src: url(@/assets/fonts/Monaco.woff) format('woff');
}

.vp-category {
    font-family: 'Monaco';
}

.nav-item {
    font-size: 1rem;
}

// .vp-sidebar {
//     padding-left: 8rem;
// }