// you can change colors here
$theme-color: rgba(12, 140, 55, 0.792);

@font-face {
    font-family: Monaco;
    src: url(../public/assets/fonts/Monaco.woff) format('woff');
}

$font-family-mono: 'Monaco';
$font-family: 'Monaco';
$font-family-heading: 'Monaco';

$navbar-horizontal-padding: 2vw;
$navbar-mobile-height: 3.5rem;