// you can change colors here
$theme-color: rgba(70, 180, 220, 0.792);

$font-family-mono: "'Monaco', sans-serif";
$font-family: "'LXGW WenKai Screen', sans-serif";
$font-family-heading: "'LXGW WenKai Screen', sans-serif";


$navbar-horizontal-padding: 2vw;
$navbar-mobile-height: 3.5rem;