@use "./base.scss";
@use "./variables.scss";
@use "./external.scss";
@use "./keyboard.scss";
@use "./code-block.scss";

// put your custom CSS here!
@font-face {
    font-family: "LXGWWenKaiScreen";
    font-style: normal;
    font-weight: normal;
    font-display: swap;
    src: url("/static/fonts/LXGWWenKaiScreen.woff2") format("woff2");
}

@font-face {
    font-family: "Monaco";
    font-style: normal;
    font-weight: normal;
    font-display: swap;
    src: url("/static/fonts/Monaco.woff2") format("woff2");
}

@font-face {
    font-family: "Biro";
    font-style: normal;
    font-weight: normal;
    font-display: swap;
    src: url("/static/fonts/Biro_Script.woff2") format("woff2");
}

@font-face {
    font-family: "LXGWWenKaiScreen";
    font-style: normal;
    font-weight: normal;
    font-display: swap;
    src: url("/static/fonts/Bookerly.woff2") format("woff2");
    unicode-range: U+00-7F;
}

:root {
    --gird-width: 30px;
    --gird-height: 30px;
    --line-color: #e5e3e3;
    --dot-color: #ccc;
    --dot-size: 2px;
    --point-gap-width: calc(var(--gird-width) * 4);
    --point-gap-height: calc(var(--gird-height) * 4);
    // 顶部滚动通知高度
    --top-scroll-height: 30px;
    //有通知栏
    --body-height-min: calc(100vh - var(--top-scroll-height));
    //无通知栏
    --body-height-max: 100vh;
    //加粗字体、代码块高亮色
    --custom-highlight: #8b2e2e;
    
    --border-radius: 4px;

}

button#explorer {
    color: var(--secondary);
}

//本文目录
#toc-content>ul.overflow {
    max-height: 30vh;
    overflow-y: auto;
    scrollbar-width: thin;
}

button#toc {
    color: var(--secondary);
}

//搜索结果弹窗，左侧标题滚动条
#results-container {
    scrollbar-width: none;
}

//搜索结果弹窗，右侧内容预览滚动条
#preview-container {
    scrollbar-width: none;
}

article:has(p:not(:empty)) {
   border: dashed 1px var(--gray);
   border-radius: var(--border-radius);
   padding: 0 1rem 1rem;
}

a.internal {
    padding: 0 .3rem;
}

a.external {
   text-decoration: none;
   color: var(--secondary);
   //font-size: 1.2rem;
   position: relative;
   padding: 0 4px;
   transition: color 0.3s;

   &::before {
      content: '';
      position: absolute;
      left: 0;
      bottom: -2px;
      width: 100%;
      height: 2px;
      background: var(--custom-highlight);
      transform: scaleX(0);
      transform-origin: right;
      transition: transform 0.3s;
      border-radius: 50%;
   }

   &:hover {
      color: var(--tertiary);

      &::before {
         transform: scaleX(1);
         transform-origin: left;
      }
   }
}

// 优化行内代码样式
:not(pre)>code {
    background-color: var(--lightgray);
    border-radius: var(--border-radius);
    padding: 0 .3rem;
    margin: 0 0.2em;
    border: 1px solid var(--gray);
    color: var(--custom-highlight);
    font-weight: 500;
}

.content-meta {
    font-family: 'Biro';
}

#toc-content>ul.overflow {
    max-height: 30vh;
    overflow-y: auto;
    scrollbar-width: thin;
}

button#toc {
    color: var(--secondary);
}